general {
    # https://wiki.hypr.land/Configuring/Variables/#variable-types for info about colors
    col.active_border = {{accent1}} {{accent2}} 45deg
    col.inactive_border = {{greyed}}
}

decoration {
    shadow {
        color = {{shadow}}
    }
}
