# black
color0 {{ strings.Trunc 7 (datasource "theme").terminal.color0 }}
color8 {{ strings.Trunc 7 (datasource "theme").terminal.color8 }}

# red
color1 {{ strings.Trunc 7 (datasource "theme").terminal.color1 }}
color9 {{ strings.Trunc 7 (datasource "theme").terminal.color9 }}

# green
color2 {{ strings.Trunc 7 (datasource "theme").terminal.color2 }}
color10 {{ strings.Trunc 7 (datasource "theme").terminal.color10 }}

# yellow
color3 {{ strings.Trunc 7 (datasource "theme").terminal.color3 }}
color11 {{ strings.Trunc 7 (datasource "theme").terminal.color11 }}

# blue
color4 {{ strings.Trunc 7 (datasource "theme").terminal.color4 }}
color12 {{ strings.Trunc 7 (datasource "theme").terminal.color12 }}

# magenta
color5 {{ strings.Trunc 7 (datasource "theme").terminal.color5 }}
color12 {{ strings.Trunc 7 (datasource "theme").terminal.color12 }}

# cyan
color6 {{ strings.Trunc 7 (datasource "theme").terminal.color6 }}
color14 {{ strings.Trunc 7 (datasource "theme").terminal.color14 }}

# white
color7 {{ strings.Trunc 7 (datasource "theme").terminal.color7 }}
color15 {{ strings.Trunc 7 (datasource "theme").terminal.color15 }}
