* {
  min-height: 0;
  min-width: 0;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
}

.modules-left {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.modules-center {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.modules-right {
  background-color: rgba(0, 0,0, 0.4);
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Left modules */
#workspaces button {
  background-color: transparent;
  color: rgb(130,60,130);
}

#workspaces button.active {
  color: #89b4fa;
  color: rgb(130,60,130);
}

#workspaces button.urgent {
  color: #f38ba8;
  color: rgb(200,60,60);
}

#backlight-slider {
	padding: 0;
	padding-top: 5;
	padding-bottom: 5;
}
#backlight-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
    background: none;
}
#backlight-slider trough {
    min-height: 20px;
    min-width: 5px;
    border: none;
    background: transparent;
}
#backlight-slider highlight {
    min-width: 5px;
    border-radius: 20px;
    border: none;
    background: rgb(150,130,30);
}

#pulseaudio-slider {
    padding: 0;
padding-top: 5;
padding-bottom: 5;
}
#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 20px;
    min-width: 5px;
    border: none;
    border-radius: 20px;
    background: rgba(0,0,0,0.2);
}
#pulseaudio-slider highlight {
    min-width: 5px;
    min-height: 0px;
    border: none;
    border-radius: 20px;
    background: rgb(30,80,120);
}

#pulseaudio {
  color: rgb(130,60,130);
    min-width: 18px;
    font-size: 16px;
}
#pulseaudio.muted {
  color: rgb(130,60,130);
}

/* Center modules */
#clock {
  color: rgb(130,60,130);
}

/* Right modules */
#network {
  color: rgb(130,60,130);
}
#language {
  color: rgb(130,60,130);
}

#power-profiles-daemon {
  min-width: 20px;
}
#power-profiles-daemon.performance {
  color: rgb(200,60,60);
}
#power-profiles-daemon.balanced {
  color: rgb(210,130,60);
}
#power-profiles-daemon.power-saver {
  color: rgb(60,110,60);
}

#cpu {
  color: rgb(60,110,60);
  background-color: transparent;
}
#cpu.warning {
  color: rgb(210,130,60);
}
#cpu.critical {
  color: rgb(200,60,60);
}

#memory {
    color: rgb(60,110,60);
    background-color: transparent;
}
#memory.warning {
  color: rgb(210,130,60);
}
#memory.critical {
  color: rgb(200,60,60);
}

#temperature {
    color: rgb(60,110,60);
    background-color: transparent;
}
#temperature.warning {
  color: rgb(210,130,60);
}
#temperature.critical {
  color: rgb(200,60,60);
}

#battery {
    color: rgb(60,110,60);
    background-color: transparent;
}
#temperature.warning {
  color: rgb(210,130,60);
}
#temperature.critical {
  color: rgb(200,60,60);
}

tooltip {
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
}
