@import 'theme.css';

* {
  min-height: 0;
  min-width: 0;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 700;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
}

.modules-left {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0px 0px 15px 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.modules-center {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0px 0px 15px 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.modules-right {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0px 0px 15px 15px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Left modules */
#workspaces button {
  background-color: transparent;
  color: @fg;
}

#workspaces button.active {
  color:@fg;
}

#workspaces button.urgent {
  color: @status_critical;
}

#backlight-slider {
  padding: 0;
  padding-top: 5;
  padding-bottom: 5;
}

#backlight-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
  background: none;
}

#backlight-slider trough {
  min-height: 20px;
  min-width: 5px;
  border: none;
  background: transparent;
}

#backlight-slider highlight {
  min-width: 5px;
  border-radius: 20px;
  border: none;
  background: @brightness;
}

#pulseaudio-slider {
  padding: 0;
  padding-top: 5;
  padding-bottom: 5;
}

#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}

#pulseaudio-slider trough {
  min-height: 20px;
  min-width: 5px;
  border: none;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.2);
}

#pulseaudio-slider highlight {
  min-width: 5px;
  min-height: 0px;
  border: none;
  border-radius: 20px;
  background: @audio_volue;
}

#pulseaudio {
  color:@fg;
  min-width: 18px;
  font-size: 16px;
}

#pulseaudio.muted {
  color:@fg;
}

/* Center modules */
#clock {
  color:@fg;
}

/* Right modules */
#network {
  color:@fg;
}

#language {
  color:@fg;
}

#power-profiles-daemon {
  min-width: 20px;
}

#power-profiles-daemon.performance {
  color: @status_critical;
}

#power-profiles-daemon.balanced {
  color: @status_warning;
}

#power-profiles-daemon.power-saver {
  color: @status_ok;
}

#cpu {
  color: @status_ok;
  background-color: transparent;
}

#cpu.warning {
  color: @status_warning;
}

#cpu.critical {
  color: @status_critical;
}

#memory {
  color: @status_ok;
  background-color: transparent;
}

#memory.warning {
  color: @status_warning;
}

#memory.critical {
  color: @status_critical;
}

#temperature {
  color: @status_ok;
  background-color: transparent;
}

#temperature.warning {
  color: @status_warning;
}

#temperature.critical {
  color: @status_critical;
}

#battery {
  color: @status_ok;
  background-color: transparent;
}
#battery.warning {
  color: @status_warning;
}
#battery.critical {
  color: @status_critical;
}

#temperature.warning {
  color: @status_warning;
}

#temperature.critical {
  color: @status_critical;
}

tooltip {
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
}
