@define-color fg {{fg}};
@define-color accent {{accent}};
@define-color brightness {{brightness}};
@define-color audio_volue {{audio_volume}};
@define-color status_ok {{status_ok}};
@define-color status_warning {{status_warning}};
@define-color status_critical {{status_critical}};
