@define-color fg {{ strings.Trunc 7 (datasource "theme").palette.fg }};
@define-color accent {{ strings.Trunc 7 (datasource "theme").palette.accent }};
@define-color brightness {{ strings.Trunc 7 (datasource "theme").palette.brightness }};
@define-color audio_volue {{ strings.Trunc 7 (datasource "theme").palette.audio_volume }};
@define-color status_ok {{ strings.Trunc 7 (datasource "theme").palette.status_ok }};
@define-color status_warning {{ strings.Trunc 7 (datasource "theme").palette.status_warning }};
@define-color status_critical {{ strings.Trunc 7 (datasource "theme").palette.status_critical }};
